<div class="landing-page <%= @landing_page.theme.name %>">
  <div class="profile">
    <%#= image_tag @landing_page.avatar_url, alt: @landing_page.user.username %>
    <h1><%= @landing_page.user.username %></h1>
    <p><%= @landing_page.bio %></p>
  </div>



  <div class="links">
    <% @links.each do |link| %>
      <a href="<%= link.url %>" target="_blank"><%= link.title %></a>
    <% end %>
  </div>
</div>
