<h1>Dashboard::LandingPages#edit</h1>
<p>Find me in app/views/dashboard/landing_pages/edit.html.erb</p>
<div class="landing-page-form">
  <%= simple_form_for @landing_page do |f| %>
    <%= f.input :username %>
    <%= f.input :bio %>
    <%= f.input :theme %>
    <%= f.input :slug %>
    <div class="save-btn">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
