
<% theme = @landing_page.theme %>

<div class="landing-page"
     style="background-color: <%= theme.background_colour %>;
            color: <%= theme.primary_colour %>;
            font-family: <%= theme.font_body %>;">

  <div class="about">
  <% if @landing_page.avatar.attached? %>
    <%= image_tag @landing_page.avatar, class: "avatar-preview" %>
  <% end %>

    <h2 class="user-info"><%= current_user.username %></h2>
    <% if @landing_page.bio.present? %>
      <p><%= @landing_page.bio %></p>
    <% end %>
  </div>


  <ul class="link-box">
    <% if @landing_page.links.present? %>
      <% @landing_page.links.each do |link| %>
        <li>
          <%= link_to link.url, target: "_blank" do %>
            <span><%= link.title %></span>
            <i class="fa-solid fa-ellipsis"></i>
          <% end %>
        </li>
      <% end %>

      
    <% else %>
      <h3>Your page is currently empty.</h3>
      <p>Click the Add Link button to start building!</p>
    <% end %>
  </ul>
</div>
