<!-- app/views/layouts/dashboard.html.erb
<h4>Hello <%#= current_user.username %></h4> -->
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dashboard">
    <div class="dashboard-layout">

      <aside class="sidebar">
        <div class="sidebar-header">
          <h2>
            <i class="fa-solid fa-house-user"></i>
            <%= link_to "Dashboard", dashboard_landing_page_path(@landing_page) %>
          </h2>



          <div class="side-btn">

            <%= link_to "Add Link", new_dashboard_landing_page_link_path(@landing_page), class: 'btn-primary' %>
            <% if @landing_page.bio.present? %>
              <%= link_to "Edit Bio", edit_dashboard_landing_page_path(@landing_page), class: 'btn-primary' %>
            <% else %>
              <%= link_to "Add Bio", edit_dashboard_landing_page_path(@landing_page), class: 'btn-primary' %>
            <% end %>

          </div>
        </div>
        <nav class="sidebar-nav">
          <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: "signout" %>
        </nav>
      </aside>

      <div class="main-content">
        <header class="topbar">
          <% if @landing_page %>
            <div class="page-view">
              <%= link_to "View Page", public_landing_page_path(@landing_page.user.username), target: "_blank" %>
            </div>
          <% end %>
        </header>

        <section class="content">
          <%= yield %>
        </section>
      </div>

    </div>
  </body>
</html>
