<!-- app/views/layouts/dashboard.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="dashboard">
    <header>
      <div class="layout">
        <aside class="sidebar">
          <nav>
            <%= add_link_button(@landing_page) %>
            <%= link_to 'Sign out', destroy_user_session_path, data: {turbo_method: :delete} %>
          </nav>
        </aside>






    </header>

    <main class="content">
      <% if @landing_page %>
        <div class="page-view">
          <%= link_to "View Page", public_landing_page_path(@landing_page.user.username), target: "_blank" %>
        </div>
      <% end %>

      <h1>Dashboard</h1>
      <p>Welcome <%#= current_user.username %></p>
      <%= yield %>
    </main>
  </body>
</html>
